<%- include('../master', { title: 'Danh sách danh mục', 
content: `
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container" style="max-width: 2400px;">
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Danh sách gói đăng bài</h3>
                    </div>
                    <div class="card-toolbar">
                        <!--begin::Dropdown-->
                        <div class="dropdown dropdown-inline mr-2">
                            <button type="button" class="btn-add-package btn btn-primary font-weight-bolder">
                                <span class="svg-icon svg-icon-md"></span>Thêm mới
                            </button>
                        </div>
                        <!--end::Dropdown-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-hover table-separate table-head-custom table-checkable" id="kt_datatable1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên gói đăng bài</th>
                                <th>Giá</th>
                                <th>Mô tả</th>
                                <th>Thời hạn (ngày)</th>
                                <th>Giới hạn bài đăng</th>
                                <th>Trạng thái</th>
                                <th style="width: 100px;padding-left:0;text-align: center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="kt_datatable1_body">
                            
                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>

    <!-- Modal-->
    <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalContent">
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/payment-package/payment-package.js"></script>
` }) %>